{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Page header for bag -->
    <div class="container position-relative pt-5 p-2 g-0">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container position-relative pt-5 g-0">
        <!-- Overlay for start of shopping bag page -->
        <div class="row">
            <div class="col">
                <h2 class="fw-bold text-center text-capitalize mb-4 mt-3 ms-1">Shopping Bag<span><i class="ps-3 fas fa-shopping-basket"></i></span></h2>
                <p class="m-1 text-center bg-dark text-white rounded-0 fw-bold d-none d-md-block ms-1">FREE STANDARD DELIVERY WHEN YOU SPEND €100.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                {% if bag_items %}
                <div class="d-block d-sm-none">
                    <!-- Mobile display for total and checkout for UX -->
                    <div class="row">
                        <div class="col">
                            {% include "bag/bag-total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "bag/checkout-buttons.html" %}
                            <p class="text-muted mb-3 ms-2">A summary of your bag is below:</p>
                        </div>
                    </div>
                    {% for item in bag_items %}
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-2 ms-2">
                            {% include "bag/product-image.html" %}
                        </div>
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "bag/product-info.html" %}
                        </div>
                        <div class="col-12 col-sm-6 order-sm-last ms-2 mb-2">
                            <p class="my-0"><strong>Subtotal: €{{ item.product_total }}</strong></p>
                        </div>
                        <div class="col-12 col-sm-6">
                            {% include "bag/quantity-form.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Add back to top button icon -->
                    <div class="position-relative mt-4 mb-2">
                        <div class="top-jump-button position-absolute bottom-50 end-50">
                            <a class="top-jump">
                                <i class="fas fa-arrow-alt-circle-up fa-3x" style="color:#000"></i>
                            </a>
                        </div>
                    </div>
                </div>
                    <div class="table-responsive rounded d-none d-sm-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black border-bottom text-center fs-5">
                                <!-- Bag items column headers -->
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in bag_items %}
                                <tr>
                                    <!-- Bag items for loop for name, sales price, price, description -->
                                    <td class="p-3 w-25">
                                        {% include "bag/product-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "bag/product-info.html" %}
                                    </td>
                                    <!-- Update form for editing item quantities and removing items.
                                        Taken from Boutique Ado mini project and edited appropriately. -->
                                    <td class="py-3 w-20">
                                        {% include "bag/quantity-form.html" %}
                                    </td>
                                    <!-- Product Subtotal -->
                                    <td class="py-3">
                                        <p class="my-0 ms-4"><strong>€{{ item.product_total }}</strong></p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <!-- Calculating totals and delivery charge.
                                    Taken from Boutique Ado mini project and edited appropriately. -->
                                <td colspan="5" class="pt-5 text-right text-end">
                                    {% include "bag/bag-total.html" %}
                                </td>
                            </tr>
                            <tr>
                                <!-- Shopping and checkout buttons -->
                                <td colspan="5" class="text-right text-end">
                                    {% include "bag/checkout-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                <!-- Else block for no items in the bag -->
                    <p class="lead fw-bold mb-5 ms-3">Currently no items in your bag.</p>
                    <a href="{% url 'products' %}" class="btn btn-dark rounded-1 btn-lg ms-1">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Resume Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Create the click event to scroll to top
    $('.top-jump').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% include 'products/includes/quantity_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}