{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Page header for bag -->
    <div class="container position-relative pt-5 p-2 g-0">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container position-relative pt-5 g-0">
        <!-- Overlay for start of shopping bag page -->
        <div class="row">
            <div class="col">
                <h2 class="fw-bold text-center text-capitalize mb-4">Shopping Bag<span><i class="ps-3 fas fa-shopping-basket"></i></span></h2>
                <p class="m-1 text-center bg-dark text-white rounded-0 fw-bold d-none d-md-block">FREE STANDARD DELIVERY WHEN YOU SPEND €100.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black border-bottom text-center fs-5">
                                <!-- Bag items column headers -->
                                <tr>
                                    <th scope="col">Product Image</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in bag_items %}
                                <tr>
                                    <!-- Bag items for loop for name, sales price, price, description -->
                                    <td class="p-3 w-25">
                                        {% if item.product.image %}
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        {% else %}
                                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        {% if item.product.on_sale is True %}
                                        <p class="my-0">
                                            <strong>€{{ item.product.sales_price }}</strong>
                                            <span><i class = "text-danger">You're saving €{{ item.product_saving }} on this item!</i></span>
                                        </p>
                                        {% else %}
                                        <p class="my-0">
                                            <strong>€{{ item.product.price }}</strong>
                                        </p>
                                        {% endif %}
                                        <p class="my-0 small fst-italic">{{ item.product.description }}</p>
                                    </td>
                                    <!-- Update form for editing item quantities and removing items.
                                        Taken from Boutique Ado mini project and edited appropriately. -->
                                    <td class="py-3 w-20">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-danger rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input text-center" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-success rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- Update and remove item buttons -->
                                        <a class="update-link btn btn-success btn-sm mt-1"><small>Update Item</small></a>
                                        <a class="remove-item btn btn-danger btn-sm mt-1 float-end" id="remove_{{ item.item_id }}"><small>Remove Item</small></a>
                                    </td>
                                    <!-- Product Subtotal -->
                                    <td class="py-3">
                                        <p class="my-0 ms-4"><strong>€{{ item.product_total }}</strong></p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <!-- Calculating totals and delivery charge.
                                    Taken from Boutique Ado mini project and edited appropriately. -->
                                <td colspan="5" class="pt-5 text-right text-end">
                                    <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery Fee: €{{ delivery|floatformat:2 }}</h6>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                    <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                </td>
                            </tr>
                            <tr>
                                <!-- Shopping and checkout buttons -->
                                <td colspan="5" class="text-right text-end">
                                    <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 btn-lg">
                                        <span>
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-dark rounded-0 btn-lg ms-2">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span>
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                <!-- Else block for no items in the bag -->
                    <p class="lead fw-bold mb-5">Currently no items in your bag.</p>
                    <a href="{% url 'products' %}" class="btn btn-dark rounded-1 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Resume Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}