<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}
    <div class="form-group bag-form ms-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm btn-danger rounded-0" 
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}" aria-label = "button to decrease quantity">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input text-center" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}" aria-label = "enter a number for bag count">
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm btn-success rounded-0"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}" aria-label = "button to increase quantity">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<!-- Update and remove item buttons -->
<a class="update-link btn btn-success btn-sm mt-1 ms-2 bag-final-buttons"><small>Update</small></a>
<a class="remove-item btn btn-danger btn-sm mt-1 ms-2 bag-final-buttons" id="remove_{{ item.item_id }}"><small>Remove</small></a>