{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="p-5">
    <div class="container position-relative col-6 text-center col-sm-8 pt-5 g-0">
        <header class="page-header">
            <h1 class="page-title">Contact us</h1>
        </header>
        <div class="page-content rte">
            <p>Need assistance, or are you unable to find what you are looking for? Please
                email us at <a href="mailto:info@TSL.ie">info@TSL.ie</a>, and we will get back to you. Alternatively, contact our headquarters directly at <a href="tel:0879919646">087 991 9646</a>.
            </p>
            <p><strong>Office Opening Hours</strong></p>
            <div>Monday - Saturday: 9am - 5pm<br> Sundays and Bank Holidays: 10am - 1pm<br>
            </div>
            <br>
            <p><strong>If you are returning an order, please send it to:</strong></p>
            <div>Team Lift Sprint<br> Ballymount Industrial Park<br> Ballymount<br> Dublin 6W<br> D06 Y5E3</div>
        </div>

    </div>

    </div>
    </div>
</section>

{% endblock %}