{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="p-5">
    <div class="container position-relative col-12 col-sm-8 pt-5 g-0">
        <header>
            <br>
            <h1 class = "text-center">Contact us</h1>
        </header>
        <div>
            <p>Need assistance, or are you unable to find what you are looking for? Please
                email us at <a class = "footer-contact-links" href="mailto:info@TSL.ie">info@TSL.ie</a>, and we will get back to you.
                <br>
                Alternatively, contact our headquarters directly at <a class = "footer-contact-links" href="tel:0879919646">087 991 9646</a>.
            </p>
            <h3><strong>Office Opening Hours</strong></h3>
            <div>Monday - Saturday: 9am - 5pm<br> Sundays and Bank Holidays: 10am - 1pm<br>
            </div>
            <br>
            <h3><strong>If you are returning an order, please send it to:</strong></h3>
            <div>Team Lift Sprint<br> Ballymount Industrial Park<br> Ballymount<br> Dublin 6W<br> D06 Y5E3</div>
        </div>
    </div>
</section>

{% endblock %}