{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="p-5">
    <div class="container position-relative col-6 text-center col-sm-8 pt-5 g-0">
        <header class="page-header">
            <h1 class="page-title">FAQ</h1>
        </header>
        <div class="page-content text-start">
            <h3><b>Why have product prices increased?</b></h3>
            <p>Unfortunately due to Brexit, any UK based equipment has incurred a delivery levy on import. As such, this must be passed down to the final customer.</p>
            <hr>
            <h3><b>I wish to change my order, how can I?</b></h3>
            <p>No issue at all, please call our service contact number at your earliest convenience and have your order number ready!</p>
            <hr>
            <h3><b>Do you have a guarantee on all equipment sold?</b></h3>
            <p>We do indeed. All equipment comes with a 1 year warranty for items under €100, and a two year warranty for items above this.</p>
            <hr>
            <h3><b>How often do you update the stock on the website?</b></h3>
            <p>Stock is updated as received, however if you require a piece of equipment currently not on our site please get in touch and we'll try to arrange from one of our suppliers.</p>
            <br>
        </div>

    </div>

    </div>
    </div>
</section>

{% endblock %}