{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Site masthead-->
<header class="masthead">
    <div class="container position-relative pt-5">
        <div class="row">
            <div class="col-12">
                <div class="text-white">
                    <h1>Equipment for Personal or Team use</h1>
                    <p class="text-white-50 mb-0 lead">Check out our unmissable deals!</p>
                    <div class="d-grid gap-2 d-md-block">
                        <a href = "" class="btn btn-danger btn-lg mt-4 me-3" type="button">Shop now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    
</header>
{% endblock %}

{% block content %}

<section>
    <div class="container-fluid">
        <div class="row g-0">
          <div class="col-8">
            <img> IMAGE
          </div>
          <div class="col-4">
            <h2 class="">AREA</h2>

            <p class="">Inline text to describe the area</p>
            <a href="" class="btn btn-dark" type="button">Area button to shop there</a>
          </div>
        </div>
    </div>
    
</section>


<!-- Individual Showcases-->

<!-- Team Showcase-->

<!-- Weightroom Showcase-->

<!-- Pitch/Track Showcase-->
{% endblock %}