{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Site masthead-->
<header class="masthead">
    <div class="container position-relative pt-5">
        <div class="row">
            <div class="col">
                <div class="text-white">
                    <h1>Equipment for Personal or Team use!</h1>
                    <p class="text-white-50 mb-0 lead">Check out our unmissable deals!</p>
                    <div class="d-grid gap-2 d-md-block">
                        <a href = "" class="btn btn-danger btn-lg mt-4 me-3" type="button">Shop Team</a>
                        <a href = "" class="btn btn-danger btn-lg mt-4" type="button">Shop Individual</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
    <h1 class="display-4 text-success"></h1>
{% endblock %}