{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Site masthead-->
<header class="masthead">
    <div class="container position-relative pt-5 p-2 g-0">
        <div class="row">
            <div class="col-12">
                <div class="text-white">
                    <h1 class = "masthead-narrative">Equipment for Personal or Team Use</h1>
                    <p class="text-white-50 mb-0 lead masthead-narrative">Check out our clearance section...</p>
                    <p class="text-white mb-0 masthead-narrative">Free delivery on orders over €{{ free_delivery_threshold }}!</p>
                    <div class="d-grid gap-2 d-md-block">
                        <a href = "{% url 'products' %}" class="btn btn-danger btn-lg mt-4 me-3 masthead-narrative" type="button">Shop now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</header>
{% endblock %}
{% block content %}

<section>
    <!-- Collection breakdown-->
    <div class="container-fluid g-0">
        <div class="row">
            <!-- Individual -->
            <div class="col-lg-6 image-area g-0">
                <img src="{{ MEDIA_URL }}individual.webp" alt="Man lifting weights" style='height: 100%; width: 100%; object-fit: cover'>
            </div>
            <div class="col-xs-12 col-lg-6 area-descriptor area-right g-0 home-page-narrative">
                <h2 class="text-uppercase fw-bold mb-4">Individual Training</h2>

                <p class="lead fst-italic">Need to up your game for your home gym and workouts?</p>
                <a href="{% url 'products' %}?category=weightlifting,track,cardio" class="btn btn-dark home-page-button me-1 mt-3" type="button">Shop Individual</a>
            </div>
            <!-- Team -->
            <div class="col-lg-6 area-descriptor area-left g-0 home-page-narrative">
                <h2 class="text-uppercase fw-bold mb-4">Team Training</h2>

                <p class="lead fst-italic">Prepare your teams professionally and with purpose!</p>
                <a href="{% url 'products' %}?category=team equipment,gym equipment" class="btn btn-dark home-page-button me-1 mt-3" type="button">Shop Teams</a>
            </div>
            <div class="col-lg-6 image-area g-0">
                <img src="{{ MEDIA_URL }}team.webp" alt="Team lining up for training" style='height: 100%; width: 100%; object-fit: cover'>
            </div>
            <!-- Weightroom -->
            <div class="col-lg-6 image-area g-0">
                <img src="{{ MEDIA_URL }}weightroom.webp" alt="Dumbbells on a rack" style='height: 100%; width: 100%; object-fit: cover'>
            </div>
            <div class="col-lg-6 area-descriptor area-right g-0 home-page-narrative">
                <h2 class="text-uppercase fw-bold mb-4">Weightroom</h2>

                <p class="lead fst-italic">Add to your home/gym weightlifting collection!</p>
                <a href="{% url 'products' %}?category=weightlifting,team equipment,gym equipment" class="btn btn-dark home-page-button me-1 mt-3" type="button">Shop Weightroom Essentials</a>
            </div>
            <!-- Pitch/Track -->
            <div class="col-lg-6 area-descriptor area-left g-0 home-page-narrative">
                <h2 class="text-uppercase fw-bold mb-4">Pitch/Track</h2>

                <p class="lead fst-italic">Prepare you or your teams for their specific sport!</p>
                <a href="{% url 'products' %}?category=track,team equipment" class="btn btn-dark home-page-button me-1 mt-3" type="button">Shop Outdoor Essentials</a>
            </div>
            <div class="col-lg-6 image-area g-0">
                <img src="{{ MEDIA_URL }}pitch.webp" alt="Lined pitch for running" style='height: 100%; width: 100%; object-fit: cover'>
            </div>
        </div>
    </div>
</section>
<section>
    <!-- Shipping, returns and info-->
    <div class="container-fluid g-0">
        <div class="row">
            <div class="sri-info-container text-white p-4">
                <div>
                    <h3 class = "text-uppercase text-center">Equipment</h3>
                    <i class="fas fa-dumbbell fa-lg sri-icons"></i>
                    <p class = "text-muted fw-bold text-center">100% guaranteed quality.</p>
                </div>
                <div>
                    <h3 class = "text-uppercase text-center">Shipping</h3>
                    <i class="fas fa-shipping-fast fa-lg sri-icons"></i>
                    <p class = "text-muted fw-bold text-center">Same-day Ireland shipping.</p>
                </div>

                <div>
                    <h3 class = "text-uppercase text-center">Information</h3>
                    <i class="fas fa-question-circle fa-lg sri-icons"></i>
                    <p class = "text-muted fw-bold text-center">24/7 customer support.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}