{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="p-5">
    <div class="container position-relative col-12 text-center col-sm-8 pt-5 g-0">
        <header class="page-header">
            <br>
            <h1 class="page-title">Shipping Information</h1>
        </header>
        <div class="page-content text-start">
            <h3><b>What is your delivery policy?</b></h3>
            <p>Delivery nationwide can take 7-10 days depending on the equipment ordered. Due to the nature of the installation, one of our team will be on hand to set this up for you.</p>
            <hr>
            <h3><b>How long does delivery take?</b></h3>
            <p>Usually between 7-10 days.</p>
            <hr>
            <h3><b>How much is delivery?</b></h3>
            <p>All orders above €100 have a free delivery to our customers.</p>
            <hr>
            <h3><b>How do I return my order?</b></h3>
            <p>Please contact our customer service during office hours with your order number ready. They will organise a free pickup of any equipment ordered.</p>
            <hr>
            <h3><b>What is your return period?</b></h3>
            <p>28 days from purchase for a full customer refund. If you are beyond this period, please contact our customer service team.</p>
            <br>
        </div>
    </div>
</section>

{% endblock %}