<header class = "container-fluid fixed-top bg-light p-1">
      <div class="row mt-lg-1 p-1 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-2 py-lg-1">
          <a href="{% url 'home' %}" class="nav-link">
            <h2 class="text-dark"><strong class = "text-uppercase">Team </strong><i>Lift Sprint</i></h2>
          </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-2 py-lg-1">
          <div class = "input-group">
            <form method = "GET" action="#">
              <div class="input-group flex-nowrap border border-dark border-1">
                <input type="text" class="form-control border" aria-describedby="searchOurStore" name="q" placeholder = "Find a product">
                <button type="submit" class="btn btn-dark rounded-0">
                  <span class = "input-group">
                    <i class = "fas fa-search"> Search</i>
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-12 col-lg-4 my-auto py-2 py-lg-1">
          <ul class="list-inline text-center my-1">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              My Account
              <i class="fas fa-user"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="dropdownMenuButton2">
              {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                  <li><a class="dropdown-item" href="#">Site Management</a></li>
                {% endif %}
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
              <li><a class="dropdown-item" href="{% url 'account_login' %}">Log In</a></li>
              {% endif %}
            </ul>
            <li class="list-inline-item">
              <a class = "nav-link" href="#">
                <div class="text-center">
                  <p class = "my-0 text-dark">
                    {% if cart_total %}
                      €{{ cart_total|floatformat:2 }}
                    {% else %}
                      €0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </header>