{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <!-- Page header for checkout -->
    <div class="container position-relative pt-5 p-2 g-0">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container position-relative pt-5 g-0">
        <!-- Page narrative for order summary -->
        <div class="row">
            <div class="col">
                <h2 class="logo-font mt-5 text-center text-capitalize">Order Review</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 order-2 mb-5">
                <!-- Order heading -->
                <h4 class="mb-2 mt-md-3 fw-bold">YOUR ORDER</h4>
                <hr>
                <!-- Product count on checkout cart -->
                <p class="text-muted">
                    <small class = "text-capitalize">
                    {% if product_count == 1 %}
                        1 item in your bag
                    {% else %}
                        {{ product_count }} items in your bag{% endif %}
                    </small>
                </p>
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-2 mb-2">
                            <!-- Product Image -->
                            <a href="{% url 'product_detail' item.product.id %}">
                                {% if item.product.image %}
                                    <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-7">
                            <!-- Product Name, description and if statement for price -->
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 fst-italic text-muted">{{ item.product.description }}</p>
                            {% if item.product.on_sale is True %}
                                <p class="my-0 mb-1 text-muted fw-bold">PPU: €{{ item.product.sales_price }}</p>
                            {% else %}
                                <p class="my-0 mb-1 text-muted fw-bold">PPU: €{{ item.product.price }}</p>
                            {% endif %}
                        </div>
                        <div class="col-3 text-right">
                            <!-- Quantity -->
                            <p class="my-0 small fw-bold">Quantity: {{ item.quantity }}</p>
                            <p class="my-0 fw-bold">Subtotal: €{{ item.product_total }}</p>
                        </div>                        
                    </div>
                {% endfor %}
                <hr class="mt-2 mb-3">
                <!-- Creating the total and subtotal -->
                <div class="row">
                    <div class="col-5">
                        <p>
                            <strong>Total </strong><small>(excl. Delivery Charge):</small>
                        </p>
                    </div>
                    <div class="col-7 text-end">
                        <p>€{{ total|floatformat:2 }}</p>
                    </div>
                    <div class="col-5">
                        <p class="fst-italic">
                            Delivery Charge:</p>
                    </div>
                    <div class="col-7 text-end">
                        <p>€{{ delivery|floatformat:2 }}</p>
                    </div>
                    <div class="col-5">
                        <p class = "fw-bold text-uppercase">
                            <strong>Grand Total:</strong>
                        </p>
                    </div>
                    <div class="col-7 text-end">
                        <p class = "fw-bold">€{{ grand_total|floatformat:2 }}</p>
                    </div>
                    <hr class="mt-1 mb-2">
                </div>
            </div>
            <div class="col-12 col-lg-6 order-1">
                <h4 class="mb-2 mt-md-3 fw-bold">Delivery Information</h4>
                <hr>
                <!-- Form for processing payments -->
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <!-- Contact fieldset -->
                    <fieldset class="rounded px-3 mb-1">
                        <legend class="fieldset-label px-2 w-auto">Contact</legend>
                        <div class="mb-1">{{ order_form.full_name | as_crispy_field }}</div>
                        <div class="mb-1">{{ order_form.email | as_crispy_field }}</div>
                        <div class="mb-1">{{ order_form.phone_number | as_crispy_field }}</div>
                    </fieldset>
                    <!-- Delivery fieldset -->
                    <fieldset class="rounded px-3 mb-1">
                        <legend class="fieldset-label px-2 w-auto">Delivery Information</legend>
                        <div class="mb-1">{{ order_form.street_address1 | as_crispy_field }}</div>
                        <div class="mb-1">{{ order_form.street_address2 | as_crispy_field }}</div>
                        <div class="mb-1">{{ order_form.town_or_city | as_crispy_field }}</div>
                        <div class="mb-1">{{ order_form.county | as_crispy_field }}</div>
                        <div class="mb-1">{{ order_form.country | as_crispy_field }}</div>
                        <div class="mb-1">{{ order_form.postcode | as_crispy_field }}</div>                        
                        <div class="start">
                            <!-- User option to save delivery information if logged in -->
							{% if user.is_authenticated %}
								<label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
							{% endif %}
						</div>
                    </fieldset>
                    <hr>
                    <fieldset class="px-3">
                        <legend class="fieldset-label px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <!--Buttons and cost on card-->
                    <div class="submit-button text-right mt-3 mb-3">                    
						<a href="{% url 'view_bag' %}" class="btn btn-dark rounded-0">
							<span>
								<i class="fas fa-chevron-left"></i>
							</span>
							<span>Edit Bag</span>
						</a>
						<button id="submit-button" class="btn btn-success rounded-0">
							<span class="font-weight-bold">Complete Order</span>
							<span>
								<i class="fas fa-lock"></i>
							</span>
						</button>
						<p class="small text-danger mt-2">
							<span>
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong> for this order</span>
						</p>
					</div>
                </form>
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <div class="spinner-border text-light loading-spinner" role="status">
            <span class="visually-hidden">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}