html {
    height: 100%;
}

body {
    font-family: 'Lato';
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* Home page ---------------------------*/
/* Home page header */
header.masthead {
    background-color: #000;
    height: 350px;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 10rem;
  }

/* Image and text area */
.image-area {
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.area-descriptor {
    height: 500px;
    padding-top: 6rem;
  }

.area-left, .area-right {
    padding-left: 10rem;
    padding-right: 5rem;
}

/* Banner of information & icons */
.sri-info-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    background-color: #000;
}

.sri-icons {
    padding-left: 5rem;
}

/* Products page ---------------------------*/
/* Products page overlay for products as per Boutique Ado instructions */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


/* Setup of the back to top button */
.top-jump-button {
    height: 35px;
    width: 35px;
    position: fixed;
}

.top-jump,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Toast messages positioning */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


