html {
    height: 100%;
}

body {
    font-family: 'Lato';
}

/* Home page ---------------------------*/
/* Home page header */
header.masthead {
    background-color: #000;
    height: 350px;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 10rem;
  }

.image-area {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.area-descriptor {
    height: 500px;
    padding-top: 6rem;
  }

.area-left {
    padding-left: 10rem
}

