html {
    height: 100%;
}

body {
    font-family: 'Lato';
}

/* Home page ---------------------------*/
/* Home page header */
header.masthead {
    background-color: #000;
    height: 350px;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 10rem;
  }

.image-area {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.area-descriptor {
    background-color: #000;
    height: 500px;
  }

.center {
  object-fit: cover;
  width: 100%;
}
