<div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mx-auto m-2 mb-lg-0 ms-lg-4">
        <!-- All products -->
        <li class="nav-item">
            <a class="nav-link text-dark fw-bold" href="{% url 'products' %}">All Products</a>
        </li>
        <!-- Individual -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark fw-bold" href="" id="navbarDropdownIndividual" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Individual
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownIndividual">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=weightlifting,track,cardio">All Individual</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=weightlifting">Weightlifting</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=track">Track</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=cardio">Cardio</a></li>
            </ul>
        </li>
        <!-- Team -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark fw-bold" href="#" id="navbarDropdownTeam" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Team
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownTeam">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=team equipment,gym equipment">All Team</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=team equipment">Team Equipment</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=gym equipment">Gym Equipment</a></li>
            </ul>
        </li>
        <!-- Clearance -->
        <li class="nav-item">
            <a class="nav-link text-danger fw-bold" href="{% url 'on_sale' %}">ON SALE</a>
        </li>
    </ul>
        <!-- Search form -->
        <form method="GET" action="{% url 'products' %}" class="d-flex border border-dark">
            <input class="form-control" type="search" name="q" placeholder="Search a product" aria-label="Search store button">
            <button class="btn btn-dark rounded-0" type="submit" aria-label="Search store button"><span class="input-group">
                    <i class="fas fa-search"></i>
                </span></button>
        </form>
    <!-- Account Management -->
    <div class="dropdown">
        <ul class="nav mt-2 ms-xl-3 mt-xl-0">
            <li class="nav-item dropdown">
                <button type="button" class="btn btn-dark bg-dark dropdown-toggle d-lg-block collapse-margin"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown">
                    My Account
                </button>
                <ul class="dropdown-menu dropdown-menu-dark bg-dark text-white" aria-labelledby="dropdownMenuButton2">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li><a class="dropdown-item" href="{% url 'add_product' %}">Site Management</a></li>
                    {% endif %}
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_bag' %}">
                    <div class="text-center">
                        <p class="my-0 text-dark">
                            {% if grand_total %}
                            €{{ grand_total|floatformat:2 }}
                            {% else %}
                            €0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- Cart link -->

    </div>

