{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Page header for blog -->
    <div class="container position-relative pt-5 p-2 g-0">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container position-relative pt-5 g-0">
        <div class="row">
            <div class="col">
                <h2 class="fw-bold text-center text-capitalize mb-4 mt-3 ms-1">Team Lift Sprint Blog
                {% if request.user.is_superuser %}
                    <i class="fas fa-caret-right ms-2"></i>
                    <a class="btn btn-success btn-sm rounded-1" href="{% url 'add_post' %}">Add Blog Entry</a>
                {% endif %}
                {% if blog_posts %}
                    <h5 class = "text-center fw-bold">The latest blog post titled "{{ latest_post }}" has been added!</h5>
                {% endif %}
                </h2>
            </div>
        </div>
    </div>
    <!--- To display all the Posts available --->
    <div class="container col-10">
        <div class="row bg-light text-dark border border-dark rounded-2 border-2">
            {% for post in blog_posts %}
                {% if blog_posts %}
                <div class="col-lg-8 col-12 mt-1">
                    <h4 class = "fw-bold">{{ post.title }}</h4>
                </div>
                <div class="col-lg-8 col-12">
                    <h6>Article by: <i><strong>{{ post.author }}</strong></i></h6>
                </div>
                <div class="col-12 col-md-11">
                    <p><i>{{ post.intro }}</i></p>
                </div>
                <div class="col-8">
                    <div class="text-muted">{{ post.date_added | date:"d M - Y | h:i"}}</div>
                </div>
                <div class="row pb-2 mt-2 mb-3">
                    <div class="col-lg-8 col-12">
                        <a href="{% url 'post_detail'  post.slug %}" class="btn btn-dark border-light border-3 btn-sm">Read this post in full...</a>
                    </div>
                </div>
            {% else %}
                <h3>No Posts Available</h3>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %} 