{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Page header for blog -->
    <div class="container position-relative pt-5 p-2 g-0">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container position-relative pt-5 g-0">
        <div class="row">
            <div class="col">
                <h2 class="fw-bold text-center text-capitalize mb-4 mt-3 ms-1">Team Lift Sprint Blog</h2>
                <a class="btn btn-danger rounded-1" href="{% url 'add_post' %}">Add post</a>
            </div>
        </div>
    </div>
    <!--- To display all the Posts available --->
    <div class="row mb-3">
        {% for post in posts %}
            {% if posts %}
            <div class="col-2 offset-1">
                {{ post.title }}
            </div>
            <div class="col-1">
                {{ post.author }}
            </div>
            <div class="col-5">
                {{ post.intro }}
            </div>
            <div class="row pb-2 mt-1">
                <div class="col-8 offset-1">
                    {{ post.date_added | date:"d M - Y | h:i"}}
                </div>
            </div>
            <div class="row pb-2 mt-1 mb-3">
                <div class="col-8 offset-1">
                    <a href="{% url 'post_detail'  post.slug %}" class="btn btn-dark">Read this post...</a>
                </div>
            </div>
        <hr>
        {% else %}
            <h3>No Posts Available</h3>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %} 