{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Page header for blog -->
    <div class="container position-relative pt-5 p-2 g-0">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container position-relative pt-5 g-0">
        <div class="row">
            <div class="col">
                <h2 class="fw-bold text-center text-capitalize mb-4 mt-3 ms-1">{{ post.title}}</h2>
            </div>
        </div>
    </div>
    <!--- To display editable post --->
    <div class="container col-10">
        <div class="row bg-light text-dark border border-dark rounded-2 border-2">
            <div class="col-8 mt-1">
                <h4 class = "fw-bold">{{ post.title }}</h4>
                <a href="{% url 'edit_post' post.slug %}" class="btn btn-dark btn-sm">Edit Post</a>
                <a class="text-light btn btn-danger btn-sm" href="{% url 'delete_post' post.slug %}">Delete</a></small>
            </div>
            <div class="col-8 mt-1">
                <h6>Article by: <i><strong>{{ post.author }}</strong></i></h6>
            </div>
            <div class="col-11">
                <p><i>{{ post.intro }}</i></p>
            </div>
            <div class="col-11">
                <p>{{ post.article }}</p>
            </div>
            <div class="col-8 mb-1">
                <div class="text-muted">{{ post.date_added | date:"d M - Y | h:i"}}</div>
            </div>
        </div>
        <a class="btn btn-dark rounded-0 mt-2 text-uppercase" href="{% url 'blog' %}"><i class="fas fa-arrow-left"></i> Back to Blogs</a>
    </div>
{% endblock %}