{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

    <h2 class="mb-4 text-center text-uppercase">{% trans "Password Reset" %}</h2>
    <hr>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class = "me-2 ms-2 allauth-text-mobile">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset me-2 ms-2">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class = "bg-dark text-white rounded-1" value="{% trans 'Reset My Password' %}" />
        <br>
        <button class="primaryAction btn btn-dark btn-sm" type="submit">{% trans "Sign In" %}</button>
        <p class="mt-2">
            <a class="button secondaryAction me-2 ms-2 allauth-text-mobile" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </p>
    </form>

    <p class = "me-2 ms-2 allauth-text-mobile">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
