{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Masthead -->
<header class="masthead">
    <div class="container position-relative pt-5 p-2 g-0">
        <div class="row">
            <div class="col-8">
                <div class="text-white non-home-narrative">
                    <h1>Welcome to Team Lift Sprint!</h1>
                    <h3>See below for our amazing products...</h3>
                    <a class="text-white-50 mb-0 lead banner-contact-link d-none d-md-block" href="{% url 'contact' %}" aria-label="Contact us">Need more Info? Contact Us.</a>
                </div>
            </div>
            <div class="col-4 d-none d-md-block">
                <div>
                    <div>
                        <img src="{{ MEDIA_URL }}products_home.jpg" class="rounded-circle"
                            alt="Man running in nature" style='height: 200px; width: 200px; object-fit: cover'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</header>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<!-- Products heading -->
<div class="container g-0">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="text-dark product-heading"><strong class="text-uppercase">Products</h2>
            <hr class="w-100 mb-2">
        </div>
    </div>
    <!-- Individual Products -->
    <div class="row">
        <div class="container col-10">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                    <div class="my-5">
                        <!-- Product image-->
                        {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="mb-5 mt-md-5">
                        <!-- Product name-->
                        <p>{{ product.name }}</p>
                        <!-- Product price and discounted price if appropriate-->
                        {% if product.on_sale is True %}
                        <p class="text-left">
                            <span
                                class="lead ps-1 fw-light text-danger pt-1 text-decoration-line-through">€{{ product.price }}</span>
                            <span class="lead ps-1 fw-bold fst-italic pt-1">€{{ product.sales_price }}</span>
                            <span class="text-left fw-light text-danger"><i
                                    class="fas fa-arrow-down"></i>({{ product.discount_on_product|floatformat:0 }}%)</span>
                        </p>
                        <!-- Sales icon for user if on sale-->
                        <p class="badge rounded-pill bg-danger">
                            On Sale
                        </p>
                        {% else %}
                        <p class="lead ps-1 text-left fw-bold fst-italic pt-1">€{{ product.price }}</p>
                        {% endif %}
                        <!-- Product category-->
                        {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                        {% endif %}
                        <!-- Product area-->
                        {% if product.area %}
                        <p class="fw-light text-capitalize mt-1 mb-1"><i>Area: </i>{{ product.area }}</p>
                        {% else %}
                        <p class="text-muted fw-light text-capitalize mt-1 mb-0">No Area</p>
                        {% endif %}
                        <!-- Superuser functionality-->
                        {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> |
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                        {% endif %}
                        <!-- Product description-->
                        <p class="mt-3 fw-light text-capitalize">{{ product.description }}</p>
                        <!-- Form for user to interact with to add to their bag.
                        The below form structure has been taken from the boutique ado mini project and edited appropriately.-->
                        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <p class="mt-3"><strong>Quantity:</strong></p>
                                    <div class="form-group w-50 border border-0 border-dark">
                                        <div class="input-group input-group-{{ product.id }}">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-danger rounded-0 decrement-qty_{{ product.id }}" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                    <span class="icon"><i class="fas fa-minus"></i></span>
                                                </button>
                                            </div>
                                            <input class="form-control border-1 text-center fw-bold qty_input id_qty_{{ product.id }}" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-success rounded-0 increment-qty_{{ product.id }}" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <span class="icon"><i class="fas fa-plus"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="{% url 'products' %}" class="btn btn-dark rounded-1 mt-5 product-detail-button">
                                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <input type="submit" class="btn btn-success rounded-1 text-uppercase ms-lg-3 mt-5 product-detail-button"
                                        value="Add to Bag">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr class="w-100 mb-2">
        <!--Product review section -->
        <h2 class="text-dark product-heading text-center"><strong class="text-uppercase">Product Reviews</strong></h2>
            <div class="col-12 col-lg-6 mt-2 mb-1 review-section">
                <!-- Number of reviews -->
                <h3 class = "review-count">Reviews for this product: ({{ number_of_reviews }})</h3>
                <!-- Check if item previously reviewed -->
                {% if user.is_authenticated %}
                    {% if can_add_review %}
                        <h4 class = "review-narrative">You havent given a review, add one now!</h4>
                    {% else %}
                        <h5 class = "review-narrative">You've already added a review, see what other people are saying.
                            <i class="fas fa-arrow-right fa-3x d-none d-lg-block" style="color:rgb(202, 96, 25)" ></i>
                            <i class="fas fa-arrow-down d-lg-none fa-2x" style="color:rgb(202, 96, 25)"></i>
                        </h5>
                    {% endif %}
                {% endif %}
                <!-- Add review -->
                {% if user.is_authenticated %}
                    {% if can_add_review %}
                        <h5 class = "review-narrative">Add Product Review: {{ product.name }}</h5>
                        <form method="POST" action="" class = "review-form">
                            {% csrf_token %}
                            <fieldset class = "review-form-field">
                                <div class = "review_text_field mt-1 mb-1">
                                    {{ form.review_text_field | as_crispy_field }}
                                </div>
                                <div class = "review_star_rating mt-1 mb-1">
                                    {{ form.review_star_rating | as_crispy_field }}
                                </div>
                            </fieldset>
                            <button type="submit" class="btn btn-success mt-2 ms-1">Submit Review</button>
                        </form>
                    {% else %}
                    {% endif %}
                {% endif %}
                <!-- Instructions to sign up or login to review a product -->
                {% if not user.is_authenticated %}
                    <p class = "review-instructions ms-1">Please <a class="text-info" href="{% url 'account_login' %}">login</a> or <a class="text-info"
                            href="{% url 'account_signup' %}">register</a> to add a review.</p>
                {% endif %}
            </div>
            <div class="col-12 col-lg-6 mt-2 mb-1 review-section text-dark pt-1">
            <!-- Previous reviews shown -->
            <h3 class = "text-center fw-bold pw-title">Previous reviews of {{ product.name }}</h3>
            {% if reviews %}
                {% for review in product.reviews.all %}
                <div class="border border-1 border-dark rounded-1 bg-light pt-1 pb-1 mb-1 ps-1 ms-2 previous-reviews">
                    <h6>Submitted by {{ review.user }} on {{ review.date_review|date:"d-m-Y" }}</h6>
                    <p class = "fst-italic fw-normal">"{{ review.review_text_field }}"</p>
                    <p>Reviewer rating: <strong>{{ review.review_star_rating }}/5</strong></p>
                    {% for star in review.review_star_rating|ljust:review.review_star_rating %}
                    <i class="fas fa-star text-warning"></i>
                    {% endfor %}
                    {% if user.is_superuser %}
                    <a href="{% url 'delete_review' review.id %}" class="btn btn-danger btn-sm">Delete Review</a>
                    {% endif %}
                    {% if request.user.username == review.user.username %}
                    <a href="{% url 'delete_review' review.id %}" class="btn btn-danger btn-sm">Delete Your Review</a>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
            <hr>
            <p class = "fst-italic fw-bold ms-2">No reviews of this product, be the first!</p>
            {% endif %}
            </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}
{% endblock %}